<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Чтобы приложение использовало эти данные для работы необходимо установить value="true" -->
		<add key="useConfig" value="true" />
		<add key="user" value="login" />
		<add key="password" value="password" />
		<!-- База данных и схема с таблицей приложения -->
		<add key="app_DB_Host" value="adress" />
		<add key="app_DB_Port" value="port" />
		<add key="app_TableDB" value="table" />
		<add key="app_TableSchema" value="schema" />
		<!-- База данных и схема с таблицами Authentic -->
		<add key="ax_DB_Host" value="host" />
		<add key="ax_DB_Port" value="port" />
		<add key="ax_TableDB" value="table" />
		<add key="ax_TableSchema" value="schema" />
		<!-- База данных и схема с таблицей TRANSACTION_LOG -->
		<add key="trl_DB_Host" value="host" />
		<add key="trl_DB_Port" value="port" />
		<add key="trl_TableDB" value="table" />
		<add key="trl_TableSchema" value="schema" />
	</appSettings>
</configuration>